{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<html>
    <body>

        <h1>Campgrounds</h1>

        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
    {% if messages %}
        
      <ul>
      {% for message in messages %}
          <li>  {{ message }}  </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

        </div>

        <a href="{{url_for('createCampground')}}">Create a New Campground </h3>     

        {% for campground in campgrounds%}
       <a href = "{{url_for('showSiteReview', campground_id = campground.id)}}">
        <div class="row campgrounds">
            <div class="col-md-6">
                    <div class="mb-2 bg-light text-dark">
                <h4>{{campground.name}}</h4>
                     </div>   
                     <!-- <div class="btn-group mb-4"> 
                        <a href = "{{url_for('editCampground', campground_id = campground.id)}}" class="btn btn-secondary btn-sm mr-2">Edit Campground</a> 
                        <a href = "{{url_for('deleteCampground', campground_id = campground.id)}}" class="btn btn-warning btn-sm">Delete Campground<a> 
                </div> -->
            </div>
        </div>
      </a> 


      
        {% endfor %}

       
</html>

{% endblock %} 


		