<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--<link rel="stylesheet" href="styles.css">-->
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='loginpage.css') }}">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '1040269644972-92sq9imbep7s45g0tivdk9oj6ooa6uun'
        });           
      });
    }
  </script>
</head>
<body>

  <!-- header -->
  <header>
      <!-- navbar -->
     <nav class="navbar navbar-expand-lg">
       <a href="{{url_for('showCampgrounds')}}" class="nav=brand"><span class="h2 text-light">View Campgrounds</span></a>
 
     </nav>
    
      <!-- end of navbar -->
         <!-- banner -->
         <div class="text-white text-right banner">
             <h1 class="display-4 banner-heading">Welcome To The Campground</h1>
             <p cleass="lead banner-par">The best place to check out campgrounds around the world</p>
             <button class="btn btn-primary"id="signinButton">Google Signin</button>
<div id="result"></div>
         </div>
        
         <!-- end of banner -->
       <!-- </header>
       end of header -->

      
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
  </body>
</html>

    